* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#formulario{
  border: solid 3px #333;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#result-container{
  border: solid 3px #dd0b0b;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}